@font-face {
	font-family: 'GeometriaRegular';
	src: url('../fonts/Geometria.eot');
	src: local('../fonts/Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GeometriaMedium';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('../fonts/Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Geometria-Bold";
	src: url("../fonts/Geometria-Bold.otf?#iefix")format("embedded-opentype"),
	url("../fonts/Geometria-Bold.otf") format("truetype"),
	url("../fonts/Geometria-Bold.eot") format("eot");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'NewStandardOld';
    src: url('../fonts/NewStandardOld.eot');
    src: url('../fonts/NewStandardOld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewStandardOld.woff2') format('woff2'),
        url('../fonts/NewStandardOld.woff') format('woff'),
        url('../fonts/NewStandardOld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
 





@font-face {
	font-family: 'ClearSansBold';
	src: url('../fonts/ClearSans-Bold.eot');
	src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Bold.woff') format('woff'),
	url('../fonts/ClearSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

	@font-face {
	font-family: "Peterburg";
	src: url("../fonts/peterburg.eot"); /* IE9 Compat Modes */
	src: url("../fonts/peterburg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/peterburg.otf") format("opentype"), /* Open Type Font */
		url("../fonts/peterburg.svg") format("svg"), /* Legacy iOS */
		url("../fonts/peterburg.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/peterburg.woff") format("woff"), /* Modern Browsers */
		url("../fonts/peterburg.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "SFUIDisplay-Regular";
    src:  url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "SFUIDisplay-Bold";
    src:  url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "SFUIDisplay-light";
    src:  url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SFUIDisplay-Medium";
    src:  url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }