/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.main-photo {
    padding: 77px 0px 80px 15px;
}
.clothes-text {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}
.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}
.clothes-img {
	height: 380px;
}
.boutique__logo, .boutique .link-insta {
    margin-left: 25px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.header-subtitle {
	display: none;
}
.right-header .header-number,
.right-header .header-delivery {
	display: none;
}
.header-icon {
    margin: 0px 0px 0px 15px;
}
.header-logo {
    margin-top: 24px;
}
.hidden_mobile {
	display: none;
}
.main-photo {
	position: relative;
	z-index: 1;
	margin: 0 -15px;
	width: auto;
}
.main-photo::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.2);
}
.navigation {
	display: none;
}
.row_bottom-header {
	align-items: center;
}
.row_bottom-header {
    padding-top: 11px;
}
.left-header {
    padding-top: 15px;
}
.header-logo {
    margin-top: 9px;
}
.header {
	padding-bottom: 20px;
}
.clothes-text {
	margin-bottom: 10px;
	margin-bottom: 20px;
}
.title-section_page {
    margin: 30px 0;
}
.form-text {
	padding-bottom: 30px;
}
.copyright {
	margin-top: 0;
}
.footer-map, .footer-cabinet, .footer-contacts, .footer-info {
	padding-top: 20px;
}
.header-item {
    margin-right: 25px;
}
.main-brands__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 700;
}
.wrapper {
	padding-top: 63px;
}
.btn_nav {
	display: inline-block;
}
.navigation {
	position: fixed;
	top: 63px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 700;
	padding-bottom: 70px;
	overflow: auto;
}
.menu {
	display: block;
}
.menu-wrap {
    margin-top: 0;
    padding-top: 15px;
    }
    .menu-link {
    	padding: 5px 0;
    	display: block;
    }
    .phone-btn {
    	display: inline-block;
    	color: #000;
    }
    .right-header {
    	padding-top: 15px;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	align-items: center;
    	justify-content: flex-end;
    }
    .main-brands__item:nth-child(n+20) {
    display: none;
}
.btn_top {
	margin-top: 15px;
}
.underline-item3 {
	padding-left: 0;
	margin-top: 10px;
}
.boutique__logo {
    margin-bottom: 33px;
}
.boutique {
	text-align: center;
	padding: 50px 10px;
}
.boutique__logo img {
	margin: 0 auto;
}
.boutique__logo, .boutique .link-insta {
    margin-left: 0;
}
.boutique__name {
	padding-top: 30px;
}
.row_bottom-header,
.hidden_mob {
	display: none;
}
.navigation .header-icons {
	padding: 22px 0;
	justify-content: flex-start;
}
.navigation .header-icon {
	margin-left: 0;
	margin-right: 15px;
}
.menu-link {
	font-size: 16px;
	border-top: 1px solid rgba(0, 0, 0, .4);
	border-bottom: none;
}
.menu-wrap {
	border: none;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.header-logo a {
	font-size: 25px;
	white-space: nowrap;
}
.header-logo {
    margin-top: 15px;
}
.header-item {
    margin-right: 12px;
}
.heade-man {
	padding: 0;
	margin-left: 10px;
}
.heade-man::before {
	display: none;
}
.header-icon {
    margin: 0px 0px 0px 10px;
}
.gender-wrap {
	flex-wrap: nowrap;
}
.row_bottom-header {
    padding-top: 15px;
}
.clothes-img {
    height: 300px;
}
.clothes-text {
	font-size: 16px;
}
.clothes-text {
	margin-top: 10px;
	margin-bottom: 30px;
}
.title-section {
	font-size: 25px;
}
.title-section span {
	padding: 0 10px;
}
.title-section_page {
    margin: 10px 0;
}
.form-text {
    font-size: 22px;
    line-height: 30px;
}
.social-text {
    margin: 0px 10px 0px 0px;
    }
    .footer-vk {
    margin: 2px 10px 0px 0px;
}
.underline-item3 {
	padding: 0;
	margin-top: 20px;
}
.underline-icon {
    margin-left: 7px;
    max-width: 51px;
}
.footer-address {
    padding-bottom: 25px;
}
.footer-item__time {
    padding-bottom: 25px;
    font-size: 13px;
}
.main-link {
	padding-top: 20px;
}
.boutique__phones {
    padding-top: 30px;
    padding-bottom: 15px;
    }
    .main-photo img {
    	height: 240px;
    	width: auto;
    	max-width: inherit;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.navigation {
	height: auto !important;
	display: block !important;
}
.show_mob {
	display: none !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}