body {
    font-size: 16px;
    font-family: 'GeometriaRegular', sans-serif;
    overflow-x: hidden;

}

.container {
    max-width: 1140px;
    margin: 0  auto;
    width: 100%;
    
}

/* header */

.header {
    position: relative;

}

.header-item {
    padding: 29px 0px 0px 0px;
}

.icon-shop {
    position: relative;
    right: 25px;
} 



.header-logo  {
 padding: 35px 0px 33px 0px;

}

.header-logo a {
    color: #000000;
    font-family: 'ClearSansBold', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    /* Text style for "N GROUP" */
    letter-spacing: 1.4px;
}

.header-number {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 24px 0px 0px 0px;
}

.header-number a {
    color: #000000;
    font-family: 'GeometriaMedium';
    font-size: 16px;
    font-weight: 500;
        transition: .2s all;
     border-bottom: 2px solid transparent;

}

.header-number a:hover {

   border-color: #000;
}
.header-delivery {
    position: relative;
    margin: 0px 0px 0px 2px;
    color: #b0a563;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}



.header-women {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 0px 4px;

}

.header-women:before {
    content: "";

}

.header-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    transition: .2s all;
    border-bottom: 2px solid transparent;    
}


.header-link:hover {
    border-color: #000;
}

.heade-man {
    color: #000000;
    font-size: 14px;
    font-weight: 400;

}

.header-subtitle {
    text-align: center;
    color: #000000;
    font-size: 13px;
    font-weight: 400;   

}

.header-icons {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: flex-end;
}
.header-icon {
    margin: 0px 0px 0px 35px;
}


.divider {
    padding: 29px 0px 22px 0px;

}
.line {
    padding: 0px 0px 0px 0px;
    width: 1140px;
    height: 1px;
    background-color: #b0a563;
}


/* navigation */


.navigation {
  padding: 0;
    
}

.menu {
    display: flex;
    justify-content: space-between;


}

.menu-link {
    color: #000000;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
        border-bottom: 1px solid transparent;
    transition: .2s all;

}

.menu-link:hover {
    border-color: #b0a563;
}

/* main-block */


.main-block {
    font-family: 'NewStandardOld', sans-serif;
    padding: 0px 0px 46px 0px;

}

.main-photo {
    width: 100%;
    padding: 0px !important;

}
.main-photo img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}
.main-title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;

}
.seasons {
    font-size: 30px;
    line-height: 48px;
}
.year {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

/* top */

.top-img__right   {
    padding: 0px 0px 0px 0px;
    background-color: #f9f9f9;
    margin: 0px 0px 0px 30px;
}

.top-img img {
    max-width: 100%;
    max-height: 100%;

} 

.top-img  {
    width: 555px;
    margin: 0px 0px 25px 0px;
    height: 581px;


    border: 1px solid rgba(176, 165, 99, 0.5);

}

.top-img__right  {
    margin: 0px 0px 0px 15px;
    


}

.top-text {
    color: #000000;
    font-weight: 400;
    line-height: 48px;

    font-size: 24px;

}

.text-right {
    margin: 27px 0px 0px 15px;
}


/* hits */

.hits {
    padding: 0px 0px 64px 0px;
    position: relative;
}

.hits-title {
    position: relative;
    color: #000000;
    font-family: 'NewStandardOld', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}


.hits-title:before {
    content: "";
    width: 438px;
    height: 1px;
    background-color: #b0a563;
    position: absolute;
    left: -5px;
    top: 30px;
}

.hits-title:after {
    content: "";
    
    width: 438px;
    height: 1px;
    background-color: #b0a563;
    position: absolute;
    right: -20px;
    top: 31px;
}

.hits-slider__item {
    margin: 0px 0px 0px 11px;

}

/* slider */

.hits-slider {
    width: 100%;
    height: 100%;
}
.hits-slider__item {
    height: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hits-slider__item:hover .hits-slider-img img {
    transform: scale(1.1);
}
.hits-slider-img {
    height: 235px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hits-slider-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hits-slider__name {
    margin: 16px 0px 20px 0px;
    margin-bottom: auto;
    text-align: center;
    color: #000000;
    font-family: 'NewStandardOld', sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}
.hits-slider__descr {
    margin: 0px 0px 30px 0px;
    margin-bottom: auto;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.hits-slider__price {
    color: #000000;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    line-height: 30px;
    text-align: center;
}
.hits-buttons {
    display: flex;
    justify-content: space-between;
}
.hits-button-prev {

    position: relative;
    bottom: 220px;
    right: 25px;

    cursor: pointer;
}
.hits-button-next {
    bottom: 220px;
    left: 25px;
    position: relative;
    cursor: pointer;
}

.item-margin {
    margin: 13px 0px 0px 0px;
}

.descr-margin {
    margin: 35px 0px 44px 0px;
}

.ermano-margin {
    margin: 9px 0px 0px 0px;
}

.descr-margin-1 {
    margin: 20px 0px 31px 0px;
}

/* clothes */



.clothes-img  {
    margin: 0px 0px 0px 0px;
    width: 555px;
    max-width: 100%;
    height: 581px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgba(176, 165, 99, 0.5); 
}

.clothes-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover .clothes-img img {
    transform: scale(1.1);
}
.clothes-text {
    margin: 25px 0px 0px 0px;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.clothes-text.margin-right {
    margin: 25px 0px 0px 15px;
}
.img-border {

}

/* autlet */
.autlet {
    padding: 0px 0px 0px 0px;
    position: relative;
}

.autlet-title {
    margin: 0px 0px 56px 0px;
    text-align: center;
    position: relative;
    font-family: 'NewStandardOld', sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.autlet-title:before {
    content: "";
    width: 500px;
    height: 1px;
    background-color: #b0a563;
    position: absolute;
    right: -15px;
    top: 30px;
}

.autlet-title:after {
    position: absolute;
    left: -15px;
    top: 30px;
    content: "";
    width: 500px;
    height: 1px;
    background-color: #b0a563;
}


/* autlet-slider */


.autlet-slider__item {
    margin: 0px 0px 0px 11px;
}
.autlet-slider__img {
    margin: 0px 0px 16px 0px;
}
.autlet-name {
    margin: 0px 0px 20px 0px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    color: #000000;
    font-family: 'NewStandardOld', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.autlet-descr {
    margin: 0px 0px 21px 0px;
    text-align: center;
    color: #666666;
    font-size: 12px;
    font-weight: 400
}

.aut-let-sale {
    margin: 0px 0px 9px 0px;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 400;

    text-decoration: line-through;
}
.aut-let-price {
    text-align: center;
    color: #000000;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 14px;
    font-weight: 500;

}

.autlet-descr.autlet-margin {
    margin: 33px 0px 35px 0px;
}
.autlet-top-1 {
    margin: -5px 0px 20px 0px;
}

.autlet-buttons {
    display: flex;
    justify-content: space-between;
}
.autlet-prev {

    position: relative;
    bottom: 195px;
    right: 30px;
}
.autlet-next {
    bottom: 195px;
    left: 25px;
    position: relative;
    cursor: pointer;
}


/* Аня */





.container-brands{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 67px 0px;
    color: #000000;
    font-family: 'NewStandardOld', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.container-brands::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 23px;
    width: 488px;
    height: 1px;
    background-color: #b0a563;
}

.container-brands::after{
    content: "";
    position: absolute;
    right: 0 ;
    top: 23px;
    
    width: 487px;
    height: 1px;
    background-color: #b0a563;
}

.main-brands__link{
    color: #000000;
    font-size: 14px;
    font-family: 'GeometriaMedium';
    line-height: 25px;
    text-transform: uppercase;
}

.main-brands__item {
    padding-bottom: 20px;
}
.main-brands__grey{
    color: #999999;
}

.main-link{
    display: flex;
    justify-content: center;
    
    padding: 40px 0px 54px 0px;
}

.main-link__all {
    color: #b0a563;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}



/* form */
.form {
    padding: 71px 0px 70px 0px;
    background-color: #f1f3f4;
}




.form-text {
    color: #000000;
    font-family: 'NewStandardOld', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;

}

.block-input {
    display: flex;
}
.form-input {
    max-width: calc(100% - 50px);
}
.form-input input {
    width: 370px;
    height: 50px;
    max-width: 100%;
    padding: 0px 0px 0px 30px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'GeometriaRegular';
}
.form-btn {
    width: 50px;
    height: 50px;
    background-color: #b0a563;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-btn img:hover {
    transform: rotate(360deg) ;
    transition: .5s all;
}



.footer-map, .footer-cabinet, .footer-contacts, .footer-info{
    padding: 42px 0px 0px 0px;
    color: #ac9b3b;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.38px;
    padding-bottom: 20px;
    font-family: 'GeometriaMedium';
}

.footer-item {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
}

.footer-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
        border-bottom: 2px solid transparent;
    transition: .2s all;
}

.footer-link:hover {
    border-color: #000;
}

.footer-telephon {
    line-height: 24px;
}

.footer-mail{
    padding-bottom: 44px;
}

.footer-address{
    padding-bottom: 44px;
    
}

.footer-item__time{
    padding-bottom: 39px;
}

.footer-item__pay{
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.38px;
    padding-bottom: 21px;
}

.footer-icons {
    margin: 0px 0px 36px 0px;
    display: flex;


}
.footer-icon {
    display: flex;
    margin: 0px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #dce0e5;
}


.footer-social {
    display: flex;
}
.social-text {
    margin: 0px 27px 0px 0px;
    color: #000000;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
.footer-vk {
    margin: 2px 19px 0px 0px;
    display: flex;
    align-items: center;
}
.footer-insta {
    margin: -2px 0px 0px 0px;
    display: flex;
    align-items: center;
}


.footer-item__networks{
    display: flex;
    align-items: center;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.38px;
    padding-top: 36px;
}

.copyright{
    position: relative;
    color: #666666;
    margin-top: 30px;
    border-top: 1px solid #b0a563;
    font-size: 13px;
    font-weight: 400;
    padding: 25px 0px 25px 0px;
}

.underline-item3{
    margin: -5px 0px 0px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  padding-left: 30px;
    
}

.underline-icon{
    margin-left: 12px;
}

.footer-mailing__text{
    color: #000000;
    font-family: "NewStandardOld", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.footer-number__link {
    color: #000000;
}

.footer-number__link:hover {

    border-bottom: 2px solid #000000;
}
.slick-arrow {
    top: 50%;
    font-size: 22px;
    width: auto;
    color: #000 !important;
}
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -25px;
}
.title-section {
    color: #000000;
font-size: 36px;
text-align: center;
font-family: 'NewStandardOld';
line-height: 48px;
font-weight: 400;
    position: relative;
}
.title-section::before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
background-color: #b0a563;
top: 57%;
left: 0;
}
.title-section span {
    padding: 0 16px;
    display: inline-block;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
.main-brands__list {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title-section_page {
    margin: 60px 0;
}
.gender-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.heade-man {
    padding-left: 40px;
    position: relative;
}
.heade-man::before {
    position: absolute;
    display: inline-block;
    content: " ";
width: 1px;
height: 20px;
top: -2px;
left: 20px;
background-color: #b0a563;
}
.menu-wrap {
    margin-top: 25px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px #b0a563 solid;
    border-bottom: 1px #b0a563 solid;
}
.icon-shop {
    width: 24px;
    height: 23px;
    right: 0;
}
.right-header {
    text-align: right;
}
.header-item {
    padding: 0;
}
.left-header {
    padding-top: 29px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.header-item {
    margin-right: 53px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-logo {
    padding: 0;
    margin-top: 35px;
    display: inline-block;
}
.align_center {
    text-align: center;
}
.row_bottom-header {
    align-items: center;
    padding-top: 20px;
}
.slick-prev:before, .slick-next:before {
    display: none !important;
}
.wrapper {
    overflow: hidden;
    position: relative;
}
/*Style Sandwich*/
.btn_nav {
    border: none;
    z-index: 60;
   display: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    position: relative;
}
.btn_nav:hover {
    opacity: 1;
}
.sandwich span {
    display: block;
}
.sandwich {
    width: 30px;
    height:28px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    cursor: pointer;
}
.sw-topper {
    position: relative;
    top: 4px;
    width: 30px;
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: medium none;
    transition: transform 0.5s, top 0.2s;
    /* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
position: relative;
    top: 10px;
    width: 30px;
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: medium none;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}
.sw-footer {
position: relative;
    top: 17px;
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000;
    border: medium none;
    transition: all 0.5s;
    transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
    top: 9px;
    transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
    opacity: 0;
}
.sandwich.active .sw-footer {
    top:5px;
    width: 30px;
    transform: rotate(-45deg);
}


/*End Sandwich*/
.phone-btn {
    display: none;
}
.align_right {
    text-align: right;
}
.btn_top {
    font-size: 24px;
    position: relative;
    color: #fff;
    width: 42px;
    height: 42px;
    text-align: center;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #000;
    z-index: 300;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn_top i {
  color: #fff;
}
.btn_top:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.main-brands__item:nth-child(n+59) {
    display: none;
}

/*boutiques*/
.boutiques {
    padding-bottom: 88px;
}
.boutique {
    padding: 110px 0;
    color: #000;
    position: relative;
    border-bottom: 1px #ccc solid;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 1;
}
.boutique__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-200%);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.boutique__image img {
        height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.boutique:hover .boutique__image {
    transform: translateX(0%);
}
.boutique:hover a,
.boutique:hover {
    color: #fff;
}
.boutique.active {
    color: #fff;
    background-image: url(../img/boutique_bg.jpg);
}
.boutique.active .link-insta,
.boutique.active .boutique__phones a {
    color: #fff;
}
.boutique__logo {
    margin-bottom: 120px;
    position: relative;
    display: inline-block;
}
.boutique__logo img {
    max-width: 200px;
    max-height: 100%;
    height: auto;
    display: block;
            -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.boutique__logo img:nth-child(2) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.boutique:hover .boutique__logo img:nth-child(1) {
    opacity: 0;
}
.boutique:hover .boutique__logo img:nth-child(2) {
    opacity: 1;
}
.boutique__logo,
.boutique .link-insta {
    margin-left: 67px;
}
.link-insta {
    color: #000000;
font-size: 14px;
line-height: 21px;
}
.link-insta span {
    border-bottom: 1px transparent solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.link-insta:hover span {
    border-color: #000;
}
.link-insta i {
    margin-right: 5px;
}
.boutique__name {
font-size: 30px;
line-height: 24px;
padding-bottom: 25px;
font-family: 'GeometriaMedium';
text-transform: uppercase;
}
.boutique__phones a {
    color: #000;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.boutique__phones {
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
}
.boutique__time {
        font-size: 14px;
    line-height: 24px;
}
.title-page {
    color: #000000;
font-size: 30px;
padding-bottom: 25px;
padding-top: 10px;
font-weight: 400;
 font-family: 'NewStandardOld';
line-height: 48px;
}
.breadcumbs {
    color: #333333;
font-size: 14px;
line-height: 21px;
padding: 15px 0;
padding-bottom: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.breadcumbs a {
    color: #333;
    display: inline-block;
    border-bottom: 1px transparent solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.breadcumbs a:hover {
    border-color: #333;
}
.breadcumbs span {
    padding: 0 15px;
}
.slider-for__item {
    height: 535px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-for__item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.slider-nav {
    width: 98px;
    padding: 20px 0;
    -webkit-order: -1;
    -moz-order: -1;
    -ms-order: -1;
    -o-order: -1;
    order: -1;
}
.slider-for {
    width: 80%;
    width: calc(100% - 120px);
}
.slider-nav__item {
    height: 116px;
    margin: 4px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px transparent solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.slick-current .slider-nav__item {
    border: 1px solid rgba(176, 165, 99, 0.5);
}
.slider-nav__item img {
    max-width: 100%;
    max-height: 100%;
}
.sliders-card-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row__bottom-card {
    margin-top: 70px;
}
.slider-nav .slick-arrow {
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: none;
    z-index: 3;
    text-align: center;
}
.slider-nav .slick-prev {
    top: 0;
}
.slider-nav .slick-next {
    bottom: 0;
    top: auto;
}
.card__title {
font-size: 20px;
line-height: 28px;
padding-bottom: 35px;
max-width: 385px;
font-family: 'GeometriaMedium';
color: #000;
}
.card__line {
    font-size: 14px;
    color: #000;
    margin-bottom: 22px;
}
.card__line strong {
    font-weight: normal;
    font-family: 'GeometriaMedium';
}
.card__title-block {
    font-size: 24px;
    margin-bottom: 18px;
    padding-left: 15px;
      font-family: 'NewStandardOld';
}
.list-simple {
    font-size: 14px;
    line-height: 19px;
    color: #000;
}
.list-simple li {
    margin-bottom: 17px;
    position: relative;
    padding-left: 15px;
}
.list-simple li::before {
    position: absolute;
    display: block;
    content: "•";
    top: 1px;
    left: 0;
}
.card__title-block_bottom {
    padding-top: 15px;
}
.col_pl {
    padding-left: 0;
}
.color-list {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: middle;
}
.color-list li {
    margin-left: 12px;
}
.color-list__item {
    width: 25px;
    height: 25px;
    border: 1px transparent solid;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.active .color-list__item {
    border-color: #333;
}
.item-form select {
    width: 100%;
    font-size: 14px;
color: #000;
    height: 49px;
border-radius: 3px;
padding-left: 14px;
padding-right: 15px;
border: 1px solid rgba(204, 204, 204, 0.5);
background-color: #ffffff;
background-image: url(../img/chevron-down.svg);
-webkit-background-size: 11px auto;
background-size: 11px auto;
background-repeat: no-repeat;
background-position: center right 10px;
font-family: 'GeometriaRegular';
        -ms-appearance: none;
    appearance: none!important;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;

}
.col_pr {
    padding-right: 0;
}
.link-main {
    font-size: 14px;
    color: #000;
    display: inline;
    border-bottom: 1px #000 solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.link-main:hover {
    border-color: transparent;
}
.row_size {
    padding-top: 35px;
    align-items: center;
}
.row_size a {
    margin-bottom: 10px;
}
.card__old-price {
    color: #999999;
    margin-bottom: 15px;
text-decoration: line-through;
}
.card__price {
    color: #000000;
font-family: 'GeometriaMedium';
font-size: 24px;
}
.btn-main {
    color: #010100;
font-size: 14px;
height: 53px;
width: 100%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
border: 2px solid #b0a563;
background-color: #ffffff;
font-family: 'GeometriaMedium';
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.btn-main:hover {
    background-color: #b0a563;
    color: #fff;
}
.row_price {
    padding-top: 50px;
}
.item-input input {
    height: 53px;
    padding: 0 14px;
    font-size: 13px;
    color: #000;
    width: 100%;
    font-family: 'GeometriaMedium';
border: 1px solid rgba(204, 204, 204, 0.5);
background-color: #ffffff;
}
*::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}
*:-moz-placeholder {
    color: #000;
    opacity: 1;
}
*::-moz-placeholder {
    color: #000;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #000;
    opacity: 1;
}
.btn-black {
    height: 53px;
    font-size: 14px;
    font-family: 'GeometriaMedium';
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;    
    justify-content: center;
    background-color: #333333;
    border: 2px #333 solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-black:hover {
    background-color: #fff;
    color: #333;
}
.row_form > div {
    padding: 0;
}
.row_form {
    margin: 0;
    margin-top: 47px;
}
.dropdown-card__title {
    color: #000000;
font-size: 24px;
padding: 14px 0;
padding-right: 15px;
 font-family: 'NewStandardOld';
 cursor: pointer;
 position: relative;
}
.dropdown-card {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.dropdown-card__content {
    color: #000000;
font-size: 14px;
line-height: 21px;
    padding-bottom: 25px;
    padding-top: 15px;
    display: none;
}
.dropdown-card__title i {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    height: 10px;
    margin: auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dropdown-card__title.active i {
    transform: rotate(45deg);
}
.card {
    padding-bottom: 36px;
}
.sliders-card-wrap {
    position: relative;
}
.external-link {
    color: #000;
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 2;
    display: inline-block;
}
.like-link {
    right: 50px;
    top: 10px;
    position: absolute;
    display: inline-block;
    z-index: 2;
}
.card + .hits .title-section {
    margin-top: 0;
}

.catalog__title {
    font-size: 24px;
    padding-bottom: 35px;
}
.list-catalog li {
    margin-bottom: 20px;
    display: block;
}
.list-catalog li a {
    font-size: 14px;
    color: #000;
    display: inline-block;
    border-bottom: 1px transparent solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.list-catalog li.active a,
.list-catalog li a:hover {
    border-color: #000;
}
.title-filter {
    color: #666666;
font-size: 20px;
padding-bottom: 20px;
font-family: 'NewStandardOld';
}
.filters-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.select-filter select {
    color: #000000;
font-size: 14px;
    padding-right: 5px;
    background-color: transparent;
    border: none;
    font-family: 'GeometriaRegular', sans-serif;
    cursor: pointer;
    outline: none;
    background-image: url(../img/chevron-down-2.svg);
    background-repeat: no-repeat;
    background-position: center right;
            -ms-appearance: none;
    appearance: none!important;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-background-size: 10px auto;
    background-size: 10px auto;
}
select::-ms-expand {
    display: none;
}
.filters-wrap .select-filter {
    margin-right: 35px;
}
.filters-wrap .select-filter:last-vhild {
    margin-right: 0;
}
.row_catalog .hits-slider__item {
    margin: 0;
    margin-top: 40px;
}
.right-filter__inner {
    display: inline-block;
    text-align: left;
}
.right-filter {
    text-align: right;
}
.link-page {
    color: #b0a563;
    border-bottom: 1px #b0a563 solid;
    font-family: 'GeometriaMedium';
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
}
.link-page:hover {
    border-color: transparent;
}
.align_center {
    text-align: center;
}
.link-page_more {
    margin-top: 70px;
}
.catalog {
    padding-bottom: 25px;
}
.pagination {
    margin-top: 45px;
}
.pagination ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li a {
    font-size: 18px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 7px;
    color: #000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px transparent solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.pagination li a:hover {
    color: #b0a563;
}
.pagination li.active a {
    border-color: #b0a563;
}
.pagination li.pagination__prev {
    margin-right: auto;
}
.pagination li.pagination__next {
    margin-left: auto;
}
.pagination li.pagination__prev,
.pagination li.pagination__next {
    border: none;
}
.pagination li.pagination__prev a,
.pagination li.pagination__next a {
    margin: 0;
}
.item-term {
    color: #000000;
font-size: 16px;
line-height: 24px;
margin-bottom: 42px;   
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.item-term__icon {
    width: 110px;
    height: 110px;
    margin-right: 25px;
    border: 1px solid rgba(176, 165, 99, 0.5);
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
}
.item-term p {
    flex: 1;
    max-width: 275px;
}
.text-main {
    line-height: 24px;
}
.text-main p {
    margin-bottom: 15px;
}
.item-term__icon img {
    max-width: 100%;
    max-height: 100%;
}
.text-main strong {
    font-family: "Geometria-Bold", sans-serif;
    font-weight: normal;
}
.text-main a {
    color: #b0a563;
    border-bottom: 1px #b0a563 solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.text-main a:hover {
    border-color: transparent;
}
.terms {
    padding-bottom: 50px;
}

.menu-dropdown {
    padding: 29px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.menu-items {
    padding: 22px 0;
}
.menu-items:hover .menu-dropdown {
    visibility: visible;
    opacity: 1;
}
.menu-dropdown::before {
    position: absolute;
    display: block;
    content: " ";
    width: 1000%;
    left: -50%;
    height: 100%;
    top: 0;
    box-shadow: 0 9px 20px rgba(102, 102, 102, 0.2);
background-color: #ffffff;
}
.menu-dropdown__title {
    color: #b0a563;
    padding-bottom: 20px;
     font-family: 'GeometriaMedium';
    text-transform: uppercase;
}
.menu-wrap > .row > div {
    position: static;
}
.menu-wrap {
    position: relative;
    padding: 0;
}
.menu-dropdown__list {
    font-size: 14px;
}
.menu-dropdown__list_columns {
    columns: 2;
}
.menu-dropdown__list li {
    margin-bottom: 15px;
    display: block;
}
.menu-dropdown__list li a {
    color: #000;
    border-bottom: 1px transparent solid;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-dropdown__list li a:hover {
    border-color: #000;
}
.menu-image {
    height: 406px;
    position: relative;
}

.menu-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-image__name {
    font-size: 30px;
font-family: 'NewStandardOld', sans-serif;
line-height: 48px;
text-transform: uppercase;
}
.menu-image_bottom {
    padding: 20px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}
.menu-image_bottom a {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px #fff solid;
    color: #fff;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-image_bottom a:hover {
    border-color: transparent;
}
.contacts__title {
    font-size: 24px;
    margin-bottom: 56px;
     font-family: 'GeometriaRegular', sans-serif;
     font-weight: 400;
    position: relative;
}
.contacts__title span {
    padding-right: 25px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.contacts__title::after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    bottom: 4px;
    left: 0;
}
.map {
    padding-top: 70px;
}
.name-contact {
    color: #000;
    padding-bottom: 40px;
  font-family: 'GeometriaMedium';
}
.text-contact {
    color: #000;
    line-height: 24px;
}
.text-contact a {
    color: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#map {
    height: 525px;
    width: 100%;
}
[class*="ymaps-2"][class*="-ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter:grayscale(100%);
}
.name-map {
    color: #b0a563;
font-size: 18px;
line-height: 24px;
padding-bottom: 7px;
text-transform: uppercase;
font-family: 'GeometriaMedium';
}
.content-map {
    line-height: 24px;
    color: #000000;
    font-family: 'GeometriaRegular';
font-size: 14px;
}
.content-map a {
    color: #000;
}
.about .text-main {
    text-indent: 25px;
}
.text-main_about {
    padding-top: 20px;
    padding-bottom: 40px;
}
.image-about img {
    max-width: 100%;
    height: auto;
    display: block;
}
.row_about {
    margin-top: 45px;
    align-items: center;
}
.about-logo img {
    max-width: 100%;
    height: auto;
display: block;
}
.about-logo {
    margin-bottom: 40px;
}
.about {
    padding-bottom: 94px;
}
.row_about_left .col-md-7 {
    padding-right: 50px;
}
.row_about_right .col-md-7 {
    padding-left: 50px;
}
.name-about {
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: 35px;
    text-transform: uppercase;
}
.row_about .text-main p {
    margin: 0;
}
.block-delivery li,
.row_about .text-main li {
    position: relative;
    padding-left: 15px;
}
.block-delivery li::before,
.row_about .text-main li::before {
    position: absolute;
    display: block;
    content: "•";
    top: 1px;
    left: 0;
}
.row_about .text-main ul {
    margin-bottom: 20px;
}
.row_about_bottom {
    z-index: 1;
    align-items: flex-start;
    position: relative;
}
.row_about_bottom::after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 102%;
    top: 30px;
    right: 0;
    max-width: 90%;
    z-index: -1;
    background-color: #f8f8f8;
}
.block-delivery {
    padding: 32px 38px;
    padding-bottom: 40px;   
    background-color: #f8f8f8;
}
.item-number-delivery {
    padding-left: 62px;
    position: relative;
}
.item-number-delivery__element {
    color: #000000;
    width: 46px;
height: 46px;
background-color: #ffffff;
border-radius: 50%;
font-size: 24px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
    position: absolute;
    top: -11px;
    left: 0;
}
.block-delivery p {
    margin: 0;
}
.block-delivery__icon {
    width: 63px;
height: 35px;
margin-right: 8px;
margin-top: 15px;
border-radius: 3px;
display: -webkit-inline-flex;
display: -moz-inline-flex;
display: -ms-inline-flex;
display: -o-inline-flex;
display: inline-flex;
align-items: center;
justify-content: center;
vertical-align: middle;
background-color: #ffffff;
}
.block-delivery__icon img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.6;
}
.item-number-delivery_top {
    margin-bottom: 50px;
}
.block-delivery li {
    margin-bottom: 15px;
}
.item-number-delivery__name {
    font-size: 24px;
    margin-bottom: 35px;
}
.block-delivery_bottom {
    padding-top: 50px;
}
.item-delivery {
    max-width: 320px;
}
.item-delivery p {
    font-size: 14px;
line-height: 21px;
}
.item-delivery p a {
    color: #b0a563;
    border-bottom: 1px #b0a563 solid;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.item-delivery p a:hover {
    border-color: transparent;
}
.item-delivery__title {
    font-size: 18px;
    padding-bottom: 25px;
}
.item-delivery {
    margin-top: 38px;
}
.delivery {
    padding-bottom: 52px;
}  